<!DOCTYPE html>
<html>
  <head>
    <title>Classified Ads</title>
    <style>
      .nav {
        position: absolute;
        top: 10px;
        right: 10px;
      }
      .nav a {
        margin-left: 10px;
      }
    </style>
  </head>
  <body>
    <h2>HomeService Entries:</h2>
    <div class="nav">
        {% if username %}
          <a href="{{ url_for('home') }}">Home</a>
          <a href="{{ url_for('create_entry') }}">Create Entry</a>
          <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
          <a href="{{ url_for('login') }}">Login</a>
          <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
      </div>
    <ul>
      {% for entry in entries %}
        <li><a href="{{ url_for('more_info', entry_id=entry.id, type=entry.__class__.__name__) }}">{{ entry.title }} </a></li>
      {% endfor %}
    </ul>
  </body>
</html>