<!DOCTYPE html>
<html>
  <head>
    <title>Classified Ads</title>
    <style>
      .nav {
        position: absolute;
        top: 10px;
        right: 10px;
      }
      .nav a {
        margin-left: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Classified Ads</h1>
    {% if username %}
      <p>Welcome to our site {{ username }}!</p>
    {% endif %}  
    <nav>
      <ul>
        <li><a>For Sale</a>
          <ul>
            <li><a href="{{ url_for('cars_trucks') }}">Cars/Trucks</a></li>
            <li><a href="{{ url_for('motorcycles') }}">Motorcycles</a></li>
            <li><a href="{{ url_for('boats') }}">Boats</a></li>
            <li><a href="{{ url_for('books') }}">Books</a></li>
            <li><a href="{{ url_for('furniture') }}">Furniture</a></li>
          </ul>
        </li>
        <li><a>Housing</a>
          <ul>
            <li><a href="{{ url_for('apartments') }}">Apartments</a></li>
            <li><a href="{{ url_for('houses') }}">Houses</a></li>
            <li><a href="{{ url_for('condos') }}">Condos</a></li>
            <li><a href="{{ url_for('roomates') }}">Roomates</a></li>
            <li><a href="{{ url_for('vacation') }}">Vacation</a></li>
          </ul>
        </li>
         <li><a>Jobs</a>
          <ul>
            <li><a href="{{ url_for('babysitter') }}">Babysitter</a></li>
            <li><a href="{{ url_for('tutor') }}">Tutor</a></li>
            <li><a href="{{ url_for('moving') }}">Moving</a></li>
            <li><a href="{{ url_for('webdesign') }}">Web Design</a></li>
            <li><a href="{{ url_for('foodservice') }}">Food Service</a></li>

          </ul>
        </li>
        <li><a>Services</a>
          <ul>
            <li><a href="{{ url_for('homeservice') }}">Home Service</a></li>
            <li><a href="{{ url_for('transportservice') }}">Transport Service</a></li>
            <li><a href="{{ url_for('hygieneservice') }}">Hygiene Service</a></li>
            <li><a href="{{ url_for('eventservice') }}">Event Service</a></li>
            <li><a href="{{ url_for('techservice') }}">Tech Service</a></li>
          </ul>
        </li>
      </ul>
    </nav>  
    
    <div class="nav">
      {% if username %}
        <a href="{{ url_for('create_entry') }}">Create Entry</a>
        <a href="{{ url_for('logout') }}">Logout</a>
      {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
      {% endif %}
    </div>

    

    
  </body>
</html>
